
@{
    ViewBag.Title = "Answer Question";
}
@using System.Web.Optimization;

<meta id="meta" name="@ViewBag.Title" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="~/scripts/jquery.tokenize.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/jquery.tokenize.css" />

<link href="~/Content/slider.css" rel="stylesheet" type="text/css" />


<h2>Answer questions </h2>
@if (@ViewBag.message != null)
            {
    <script>
            alert("@ViewBag.message");
    </script>
}
<div>
    <div id="links">
        @foreach (var s in (List<String>)ViewData["Images"])
        {
            <img src="@s" alt="Image not found" style="width:404px;height:328px;" />
        }

        @if(ViewData["text"] != null)
        {
            <p>@ViewData["text"]</p>
            <br/>
        }
    </div>
    <div class="btn-toolbar">
        <div>
            <br />
            <form id="answerQuestionForm" method="POST" action="~/AnswerQuestion/Submit">
                <h4>What is your diagnosis?</h4>
                <input type="radio" class="" name="norm" value="true" onchange="button1changed()" checked> Normal
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="norm" value="false" onchange="button2changed()"> Abnormal<br />

                <div>
                    <h4>How sure are you of this diagnosis? (1 - completely unsure; 10 - completely certain)</h4>
                    <input type="range" min="1" max="10" name="sure1" value="0" id="sure1" step="1" oninput="UpdateForSure1(value)" />
                    <output for="sure1" id="slider1" name="sure1">1</output>
                </div>

                <div id="diagnosis_div" style="display:none">
                    <h4>Why is this case abnormal?</h4>
                    <select id="diagnosis" name="diagnosis" multiple="multiple" class="tokenize-sample" onemptied="emptied()" oninput="input()">
                        @foreach (var s in (List<String>)ViewData["subjects"])
                        {
                            <option value="@s">@s</option>

                        }
                    </select>
                    <div id="how_sure_of_each">
                        <h4>How sure are you of each diagnosis? (1 - completely unsure; 10 - completely certain): </h4>
                    </div>
                    <script type="text/javascript">
                        $('#diagnosis').tokenize();
                    </script>
                    
                </div>
                <div id="diagnosis_sure">

                </div>
                <script type="text/javascript">
                    $('#sure2').tokenize();
                </script>
                <br/>
                <button id="submit" type="submit" class="btn btn-primary btn-block" style="width: 280px;">Submit answer</button>
            </form>
            <script type="text/javascript">

                        function emptied() {
                            document.getElementById('how_sure_of_each').style.visibility = "hidden";
                            alert("empty");
                        }
                        function input() {
                            document.getElementById('how_sure_of_each').style.visibility = "visible";
                            alert("not emty");
                        }
            </script>
        </div>
    </div>
</div>

