
@{
    ViewBag.Title = "My Groups";
}

<div class="cen col-md-offset-4">
    @if (@ViewBag.message != null)
            {
        <script>
                    alert("@ViewBag.message");
        </script>
    }
    <form id="createGroupForm" method="POST" action="~/MyGroup/submit">
        <div class="form-group">
            <br />
            <h2>My Groups</h2>
            <br />
           @if ((List<String>) @ViewData["groups"] != null)
           {
               <div class="row">
                   @foreach (var g in (List<String>)ViewData["groups"])
                   {
                    <button name="@g"+"_button" type="button" class="btn btn-primary btn-block" id="@g" style="width: 200px;"  onclick="location.href='@Url.Action("Index", "Group",new { groupName = g })'">Create a group</button>
               }
               </div>
           }
            <label for="groupName" class="control-label">Group Name</label>
            <select id="groupName" name="groupName" class="form-control" value="">
                @foreach (var gi in (List<String>)ViewData["groupsInvitations"])
                {
                    <option value="@gi">@gi</option>
                }
                @ViewBag.group=this.value
            </select>

            <br />



            <button type="submit" id="submit" class="btn btn-primary btn-block" style="width: 280px;">Accept invitations</button>
            <button type="button" name="addToExistGroup" class="btn btn-primary btn-block" style="width: 280px;" id="test" onclick="location.href='@Url.Action("Index", "AddToExistGroup", @ViewBag.group)'">Invite to group</button>

        </div>
    </form>
</div>
