
@{
    ViewBag.Title = "My Groups";
}

<div class="cen col-md-offset-4  ">
    @if (@ViewBag.message != null)
            {
        <script>
            alert("@ViewBag.message");
        </script>
    }
    
        <div class="form-group">
            @if ((List<String>)@ViewData["groups"] != null)
            {
                <br />
                if(((List<String>)ViewData["groups"]).Count != 0) {
                <h2 class="cen ">My Groups</h2>
                }
                <br />
                <div class="btn-toolbar " role="toolbar">
                    @foreach (var g in (List<String>)ViewData["groups"])
                    {

                        <div class="container">
                            <button name="@g" +"_button" type="button" style="margin-bottom:6px" class="btn btn-primary" id="@g" onclick="location.href='@Url.Action("Index", "Group",new { groupName = g})'">@g</button>
                        </div>
                    }
                </div>
            }
            <br />
           @Html.Partial("groupInvitations");
        </div>
    
</div>
