
@{
    ViewBag.Title = "My Groups";
}

<div class="cen">
    @if (@ViewBag.message != null)
            {
        <script>
            alert("@ViewBag.message");
        </script>
    }
    
        <div class="form-group">
            <br />
            <h2 class="cen col-md-offset-4">My Groups</h2>
            <br />
            @if ((List<String>)@ViewData["groups"] != null)
            {
                <div class="btn-toolbar col-md-offset-4" role="toolbar">
                    @foreach (var g in (List<String>)ViewData["groups"])
                    {
                        <div class="btn-group">
                            <button name="@g" +"_button" type="button" class="btn btn-primary " id="@g" onclick="location.href='@Url.Action("Index", "Group",new { groupName = g })'">@g</button>
                        </div>
                    }
                </div>
            }
            <br />
           @Html.Partial("groupInvitations");
        </div>
    
</div>
