
@{
    ViewBag.Title = "Index";
}

@model IEnumerable<communication.Models.ShowAnswers.ShowAnswersData>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



<link href="~/Content/slider.css" rel="stylesheet" type="text/css" />


<h2>Answers</h2>

<div>
    <div class="container" id="links">
        @foreach (var question in Model)
        {
            foreach (var pic in question.pics)
            {
                <img src="@pic" alt="Image not found" style="width:404px;height:328px;" />
            }

            <br/><br/><br/>
            if((question.dignosis.Count == 1) && (question.dignosis.ElementAt(0).Equals(Constants.Topics.NORMAL)))
            {
                <p>The diganosis for this case is Normal</p>
            }
            else
            {
                <p>The diganosis for this case is:</p><br/>
                foreach(var d in question.dignosis)
                {
                     <p>@d</p><br />
                }
            }

        }
    </div>
    <div class="container">
        @if (@ViewData["next"].Equals("Main"))
        {
            <button type="button" class="btn btn-primary btn-block" style="width: 200px;" onclick="location.href='@Url.Action("Index", "Main")'">Back to main window</button>
        }
        else
        {
            <button type="button" class="btn btn-primary btn-block" style="width: 200px;" onclick="location.href='@Url.Action("Index", "AnswerQuestion")'">Continue answering</button>
        }

    </div>
</div>

