
@{
    ViewBag.Title = "Add test to group";
}

@model IEnumerable<communication.Models.Test.TestData>
<meta id="meta" name="@ViewBag.Title" />

<div class="cen col-md-offset-4">
    <form id="createGroupForm" method="POST" action="~/AddTestToGroup/submit">
        <div class="form-group">
            <br />
            <h2>Select a test</h2>
            <br />
            @if (@ViewBag.message != null)
            {
                <script>
                    alert("@ViewBag.message");
                </script>
            }
            <label for="testDetails" class="control-label">test Details</label>
            <select id="testDetails" name="testDetails" class="form-control">
                @if (Model != null) { 
                    foreach (var test in Model)
                    {
                        <option value="@test.testString">@test.testString</option>
                    }
                }
                @ViewBag.testDetails=this.value
                @ViewBag.testId=test.testId
            </select>
            
            <br />
            <button type="submit" id="submit" class="btn btn-primary btn-block" style="width: 280px;">See test's questions</button>

        </div>
    </form>
</div>