
@{
    ViewBag.Title = "select questions";
}
@model IEnumerable<communication.Models.Questions.QuestionData>



<div>
    <form id=" selectQuestionsForTestform" method="POST" action="~/SelectQuestions/submit">

        <h2>Select questions</h2>
        <br />
        @if (@ViewBag.message != null)
        {
            <script>
                alert("@ViewBag.message");
            </script>
        }
        <label for="testName" class="control-label">Test name</label>
        <input type="text" class="form-control" name="testName" id="testName" value="@ViewBag.testName" required title="Please enter test name" placeholder="Test name">
        <br />
        <div class="container" id="links">
            @foreach (var question in Model)
            {
                <input type="checkbox" id="QuestionData" name="QuestionData" value="@question.qID"> @question.qID

                foreach (var pic in question.pics)
                {
                <img src="@pic" alt="Image not found" style="width:202px;height:164px;" />
                }
                <p>The diagnoses for this case are :</p>
                int i = 0;
                foreach (var d in question.dignosis)
                {
                    <p>@d</p>
                    i++;
                    if (i != question.dignosis.Count)
                    {
                        <p>, </p>
                    }
                }
                <p>The question difficulty level is @question.level</p>
                <p>@question.text</p>
            }
        </div>

        <script type="text/javascript">
            $('#QuestionData').tokenize();
        </script>



        <button type="submit" class="btn btn-primary btn-block" style="width: 280px;">Create test</button>
    </form>
</div>