@{
    ViewBag.Title = "Manage group";
}


@model IEnumerable<communication.Models.Group.GroupData>
<meta id="meta" name="@ViewBag.Title" />

<div class="cen col-md-offset-4">
    <form id="createGroupForm" method="POST" action="~/ManageGroup/submit">
        <div class="form-group">
            <br />
            <h2>Select a group</h2>
            <br />
            @if (@ViewBag.message != null)
            {
                <script>
                    alert("@ViewBag.message");
                </script>
            }
            <label for="groupName" class="control-label">Group Name</label>
            <select id="groupName" name="groupName" class="form-control" value="">
                @foreach (var group in Model)
                {
                    <option value="@group.key">@group.key</option>
                }
                @ViewBag.groupName=this.value
            </select>

            <br />


            <button type="submit" id="submit" class="btn btn-primary btn-block" style="width: 280px;">Delete group</button>
            <button type="button" name="addToExistGroup" class="btn btn-primary btn-block" style="width: 280px;" id="test" onclick="location.href='@Url.Action("Index", "AddToExistGroup")'">Invite to group</button>
            <button type="button" name="addTestToGroup" class="btn btn-primary btn-block" style="width: 280px;" id="test" onclick="location.href='@Url.Action("Index", "AddTestToGroup")'">Add test to group</button>

        </div>
    </form>
</div>