
@{
    ViewBag.Title = "Main";
}
<meta id="meta" name="@ViewBag.Title"/>
<div class="cen col-md-offset-4">
    <h2>Welcome @ViewBag.name</h2>
    <br/>
    @if (@ViewBag.message != null)
    {
        <script>
                    alert("@ViewBag.message");
        </script>
    }

    <div class="container">
        <button type="button" class="btn btn-primary btn-block" id="question" style="width: 200px;" onclick="location.href='@Url.Action("Index", "GetQuestion")'">Auto generated question</button>
        <button type="button" class="btn btn-primary btn-block" id="test" style="width: 200px;" onclick="location.href='@Url.Action("Index", "GetTest")'">Auto generated test</button>
        <button type="button" class="btn btn-primary btn-block" id="myGroups" style="width: 200px;" onclick="location.href='@Url.Action("Index", "MyGroups")'">My groups</button>
        @if (ViewBag.isAdmin)
        {
        <button type="button" class="btn btn-primary btn-block" id="administration" style="width: 200px;" onclick="location.href='@Url.Action("Index", "Administration")'">Administration</button>
        }

    </div>
</div>
