@{
    ViewBag.Title = "view group tests";
}
@model IEnumerable<communication.Models.GetTest.GetTestData>

    <meta id="meta" name="@ViewBag.Title" />

    <div class="cen col-md-offset-4">
        <form id="createGroupForm" method="post" action="~/ViewGroupTests/submit">
            <div class="form-group">
                <br />
                <h2> Group tests </h2>
                <br />
                @if (@ViewBag.message != null)
                {
                    <script>
                        alert("@ViewBag.message");
                    </script>
                }

                <label for="testDetails" class="control-label">test Details</label>
                <br />
                <select id="testDetails" name="testDetails" class="form-control">
                    @if (Model != null)
                    {
                        foreach (var group in Model)
                        {
                            foreach (var test in group.vals)
                            {
                                <option data-option="@group.key" id="@test" value="@test">@test</option>
                            }
                        }
                    }
                </select>
                <br />

                <button type="submit" id="submit" class="btn btn-primary btn-block" style="width: 280px;">View test statistics</button>

            </div>
        </form>
    </div>