@{
    ViewBag.Title = "view group tests";
}
@model IEnumerable<communication.Models.GetTest.GetTestData>

    <meta id="meta" name="@ViewBag.Title" />

    <div class="cen col-md-offset-4">
        <form id="createGroupForm" >
            <div class="form-group">
                <br />
                <h2> Group tests </h2>
                <br />
                @if (@ViewBag.message != null)
                {
                    <script>
                        alert("@ViewBag.message");
                    </script>
                }

                <label for="testDetails" class="control-label">test Details</label>
                <br />
                <select id="testDetails" name="testDetails"  class="form-control" >
                    @if (Model != null)
                    {
                        foreach (var group in Model)
                        {
                            foreach (var test in group.vals)
                            {
                                <option data-option="@group.key" value="@test">@test</option>
                            }
                        }
                    }
                    @ViewBag.testDetails=this.value
                    @ViewBag.testId=test.testId
                </select>
                <br/>
                <button name="statistics" type="button" class="btn btn-primary btn-block" id="statistics" style="width: 280px" onclick="location.href='@Url.Action("Index", "testStatistics", new { testId = ViewBag.testId })'">View test statistics</button>
            </div>
        </form>
    </div>