
@{
    ViewBag.Title = "Index";
}

<div class="cen col-md-offset-4 ">
    @if (@ViewBag.message != null)
    {
        <script>
            alert("@ViewBag.message");
        </script>
    }
    <h2 class="cen">@ViewBag.group_name</h2>

    @if ((List<Tuple<string, int>>)ViewBag.unFinishedTests != null)
    {
        <br />
        if (((List<Tuple<string, int>>)ViewBag.unFinishedTests).Count != 0)
        {
            <form id="chooseTestForm" method="POST" action="~/group/submit">
                <div class="form-group">
                    <label for="testID" class="control-label">Select A Test To Answer</label>
                    <select id="testID" name="testID" class="form-control">
                        @foreach (var test in (List<Tuple<string, int>>)ViewBag.unFinishedTests)
                        {
                            <option value="@test.Item2">@test.Item1</option>
                        }
                    </select>
                    <br />
                    <button type="submit" id="submit" class="btn btn-primary btn-block" style="width: 280px">Take Test</button>
                </div>
            </form>
        }
    }

    
    <button name="statistics" type="button" class="btn btn-primary btn-block" id="statistics" style="width: 280px" onclick="location.href='@Url.Action("Index", "GroupStatistics", new {groupName = ViewBag.full_groupName })'">View Group Statistics</button>

</div>
