
@{
    ViewBag.Title = "Index";
}

<div class="cen col-md-offset-4 ">
    @if (@ViewBag.message != null)
    {
        <script>
            alert("@ViewBag.message");
        </script>
    }
    <h2 class="cen">@ViewBag.group_name</h2>

    @if ((List<Tuple<string, int>>)ViewBag.unFinishedTests != null)
    {
        <br />
        if (((List<Tuple<string, int>>)ViewBag.unFinishedTests).Count != 0)
        {
            <form id="getQuestionForm" method="POST" action="~/GetQuestion/submit">
                <div class="form-group">
                    <label for="subject" class="control-label">Select A Test To Answer</label>
                    <select id="subject" name="subject" class="form-control" onchange="giveSelection(this.value)">
                        @foreach (var test in (List<Tuple<string, int>>)ViewBag.unFinishedTests)
                        {
                            <option value="@test.Item2">@test.Item1</option>
                        }
                    </select>
                    <br />
                    <button type="submit" id="submit" class="btn btn-primary btn-block" style="width: 280px;">Take Test</button>
                </div>
            </form>
        }
    }
</div>
